<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <div class="table-head">
        <h3>Users List</h3>
        <a class="button-head-ul btn btn-info" href="/logout">logout</a>
    </div>
    <div class="users-table">
        <table class="table">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Birthday</th>
            </thead>
            <tbody>
                <% Users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.firstname %></td>
                    <td><%= user.lastname %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phoneNumber %></td>
                    <td><%= user.birthday %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>